# 2026-02-21 20:11:34
Kivy-Garden==0.1.5
Kivy==2.3.1
Pygments==2.19.2
annotated-types==0.7.0
anyio==4.12.1
appdirs==1.4.4
async-generator==1.10
attrs==25.4.0
base58==2.1.1
blake3==1.0.8
brenthy_tools_beta==4.0.11
cachetools==7.0.1
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
codec-versioning==0.1.0
coincurve==21.0.0
colorama==0.4.6
cytoolz==1.1.0
dataclasses-json==0.6.7
decorate-all==0.1.1
dnspython==2.8.0
docutils==0.22.4
eciespy==0.4.6
emtest==0.1.2
endra==0.6.10
environs==14.6.0
eth-hash==0.7.1
eth-keys==0.7.0
eth-typing==5.2.1
eth-utils==5.3.1
filetype==1.2.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
importlib_metadata==8.7.1
iniconfig==2.3.0
ipfs_node==0.1.12rc6
ipfs_tk==0.1.13
ipfs_toolkit==0.6.0rc10
kivy-garden.qrcode==2021.314
kivy_deps.angle==0.4.0
kivy_deps.glew==0.3.1
kivy_deps.sdl2==0.8.0
liboqs-python==0.14.1
loguru==0.7.3
marshmallow==3.26.2
mmh3==5.2.0
morphys==1.0
multi_crypt==0.1.3
multiaddr==0.1.1
mypy_extensions==1.1.0
netaddr==1.3.0
outcome==1.3.0.post0
packaging==26.0
pathspec==1.0.4
pluggy==1.6.0
plyer==2.1.0
portalocker==3.2.0
protobuf==6.33.5
psutil==7.2.2
py-cid==0.5.0
py-multibase==2.0.0
py-multicodec==1.0.0
py-multihash==3.0.0
py-strict-typing==0.1.1
pycparser==3.0
pycryptodome==3.23.0
pydantic==2.12.5
pydantic_core==2.41.5
pypiwin32==223
pytest==9.0.2
python-baseconv==1.2.2
python-dotenv==1.2.1
pywin32==311
pyzbar==0.1.9
pyzmq==27.1.0
qrcode==8.2
requests==2.32.5
rfc3987==1.3.8
setuptools==82.0.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
termcolor==3.3.0
toolz==1.1.0
tqdm==4.67.3
trio-typing==0.10.0
trio==0.33.0
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
varint==1.0.2
walytis_beta==2.4.38
walytis_beta_api==2.4.18
walytis_beta_embedded==0.0.16
walytis_identities==0.5.3
walytis_mutability==0.1.9
walytis_offchain==0.5.4
wheel==0.46.3
win32_setctime==1.2.0
zipp==3.23.0
