# >>> CLEANUP

# This section contains patterns to be deleted by `make clean`
build
# dist
*.egg-info
**/.mypy_cache/
__pycache__
.pytest_cache
.ruff_cache
.benchmarks
.ccls-cache

*.pyc
*.log
*.log.*
*.bkp

.ipfs_repo
.kivy-dependencies
.buildozer
EndraAppdata

.flatpak-builder
packaging/build_runners/flatpak/build-dir*
packaging/build_runners/flatpak/.flatpak-builder
packaging/build_runners/buildozer/bin
packaging/build_runners/buildozer/.buildozer
packaging/build_runners/buildozer/.gradle
# <<< CLEANUP

run_pyreverse.sh
dist
.obsidian
.venv

_hanuki
index.html
hanuki.toml





src/endra_app/fonts
FurtherIdeas.md

*.xcf
