.ipfs_repo

**/__pycache__
.mypy_cache

*.log
*.log.*
run_pyreverse.sh
*.bkp
*.dtmp
*.log
**/__pycache__
build
dist
**.egg-info
.obsidian
.kivy-dependencies



.buildozer
bin
*.xcf
EndraAppdata
build-dir
.flatpak-builder


*.flatpak
flatpak-repo
kivy-dependencies
build_kivy_deps.sh

FurtherIdeas.md

*.otf
