# >>> CLEANUP

# This section contains patterns to be deleted by `make clean`
build
# dist
*.egg-info
**/.mypy_cache/
__pycache__
.pytest_cache
.ruff_cache
.benchmarks
.ccls-cache

*.pyc
*.log
*.log.*
*.bkp

.ipfs_repo
.kivy-dependencies
.buildozer
EndraAppdata

packaging/flatpak/build-dir*
packaging/flatpak/.flatpak-builder
.flatpak-builder
packaging/buildozer/bin
packaging/buildozer/.buildozer
# <<< CLEANUP

run_pyreverse.sh
dist
.obsidian
.venv





src/endra_app/fonts
FurtherIdeas.md

*.xcf
