endra>=0.6.10,<0.7.0

appdirs==1.4.4
pyzbar==0.1.9
portalocker==3.2.0
kivy-garden.qrcode==2021.314
kivy==2.3.1

pytest
python-dotenv
environs
emtest>=0.1.2
toolz
eth_keys
eth_typing
eth_utils
pygments
qrcode
plyer
