hatchling
dataclasses-json
kivy
kivy-garden.qrcode
portalocker
loguru
walytis_beta>=0.1.1
walytis_identities>=0.1.3
walytis_offchain>=0.1.3
walytis_mutability>=0.1.3
walytis_beta_embedded>=0.0.5
endra
environs
pytest
pygments
