endra>=0.5.0,<0.6.0
ipfs_node==0.1.12rc6
ipfs_tk>=0.1.6

appdirs==1.4.4
pyzbar==0.1.9
portalocker==3.2.0
kivy-garden.qrcode==2021.314
kivy==2.3.1

pytest
python-dotenv
environs
emtest
toolz
eth_keys
eth_typing
eth_utils
pygments
qrcode
