android
appdirs
brenthy_tools_beta
cffi
coincurve
cytoolz
dataclasses-json
decorate_all
eciespy
emtest
endra
environs
eth_hash
eth_keys
eth_typing
eth_utils
iniconfig
ipfs_node==0.1.9
ipfs_tk==0.1.3
ipfs_toolkit==0.6.0rc1
kivy
kivy-garden.qrcode
kivymd
loguru
marshmallow
multi_crypt
mypy_extensions
pluggy
portalocker
pycryptodome==3.23.0
pygments
py_strict_typing
pytest
python3
python-dotenv
qrcode
rfc3987
termcolor
toolz
tqdm
typing_extensions
typing_inspect
walytis_beta==2.4.19
walytis_beta_embedded==0.0.8
walytis_identities
walytis_mutability
walytis_offchain
