


android
appdirs
brenthy_tools_beta==4.0.10
cffi
coincurve
cytoolz
dataclasses-json==0.6.7
decorate-all
eciespy
emtest==0.0.4
endra==0.1.1
environs
eth_hash
eth_keys
eth_typing
eth_utils
iniconfig
ipfs_node==0.1.9
ipfs_tk==0.1.3
ipfs_toolkit==0.6.0rc1
kivy
kivy-garden.qrcode
kivymd
loguru==0.7.3
marshmallow
multi_crypt==0.0.3
mypy_extensions
pluggy
portalocker==3.2.0
pycryptodome==3.23.0
pygments
py_strict_typing
pytest
python3
python-dotenv==1.1.1
qrcode==8.2
rfc3987==1.3.8
termcolor==3.1.0
toolz
tqdm==4.67.1
typing_extensions
typing_inspect
walytis_beta==2.4.19
walytis_beta_embedded==0.0.8
walytis_identities==0.1.5
walytis_mutability==0.1.5
walytis_offchain==0.1.5
