android
appdirs
cffi
cytoolz
coincurve
eciespy
environs
eth_hash
eth_keys
eth_typing
eth_utils
iniconfig
ipfs_node==0.1.9
ipfs_tk==0.1.3
ipfs_toolkit==0.6.0rc1
kivy
kivy-garden.qrcode
kivymd
marshmallow
mypy_extensions
pluggy
py_strict_typing
python3
toolz
typing_extensions
typing_inspect
dataclasses-json==0.6.7
emtest==0.0.4
endra==0.1.1
loguru==0.7.3
multi_crypt==0.0.3
portalocker==3.2.0
pycryptodome==3.23.0
python-dotenv==1.1.1
qrcode==8.2
rfc3987==1.3.8
termcolor==3.1.0
tqdm==4.67.1
walytis_beta==2.4.19
walytis_beta_embedded==0.0.8
walytis_identities==0.1.5
walytis_mutability==0.1.5
walytis_offchain==0.1.5
